/* This file contains the responsiveness of the device screen widths */

/* For devices with 1280 pixels */

/* This code should work for all devices using Google Chrome */
@media only screen
  and (min-device-width: 1px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2){
    /* This decreases the size of the studies box */
    .stu-box p, .stu-box li{
      font-size: 0.75em;
    }
    .stu-box h3{
      font-size: 1.25em;
    }
    .stu-box h4{
      font-size: 0.8em;
    }
    .stu-box{
      width: 22%;
    }
    .studies{
      height: 600px;
    }
    /* This code increases the width of the number box and email box so that the code lines up with the logo */
    .phone-numbox{
      width: 40%;
    }
    .email-box{
      width: 80%;
    }
  }

/* This is the code for Internet Explorer 10 & 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .prog-lang{
    height: 150px;
  }
  .footer{
    width: 97%;
  }
  .studies{
    height: 750px;
  }
}

/* This code changes the sizes of required boxes for Microsoft Edge 12 */
@supports (-ms-accelerator:true) {
  .prog-lang{
    height: 150px;
  }
  .footer{
    width: 97%;
  }
  .studies{
    height: 750px;
  }
}

/* This is the code for Mozilla Firefox */
@-moz-document url-prefix()
{
  .stu-box{
    width: 22%;
  }
  .studies{
    height: 800px;
  }
}

@media only screen
  and (min-device-width: 1px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
    .prog-lang{
      height: 150px;
    }
    .footer{
      width: 98%;
    }
  }
