
/* This is the code for the grid container */
.grid-container{
  display: grid;
  grid-template-areas: 'navbar navbar navbar'
  'home-screen home-screen home-screen'
  'about about about'
  'prog-lang prog-lang prog-lang'
  'studies studies studies'
  'contact contact contact'
  'footer footer footer'
  ;
  grid-gap: 20px;
}
.grid-container > div{
  padding: 20px;
}

/* This code changes the font family of everything */
*{
  font-family: 'Raleway', sans-serif;
}

/* This is the code for the navigation bar */
#navbar{
  top: 0;
  margin-left: -10px;
  width: 100%;
  position: fixed;
  background-color: white;
  grid-area: navbar;
  padding: 20px;
  border-radius: 6px;
  font-size: 2em;
  word-spacing: 50px;
  text-align: center;
  z-index: 100;
}
a:link, a:visited{
  text-decoration: none;
  color: black;
}
a:hover, a:active{
  text-shadow: 2px 2px 4px black;
}

/* This is the code for the home screen text and picture */
.home-screen{
  grid-area: home-screen;
  text-align: center;
  background: url('images/background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  border-radius: 10px;
}

h1{
  margin-top: 120px;
  font-size: 4em;
  letter-spacing: 3px;
  color: #939393;
}
h4{
  font-size: 1.4em;
  letter-spacing: 3px;
  color: #939393;
}

/* This is the code for the about section of the page */
.about{
  grid-area: about;
  background-color: black;
  color: white;
  height: 400px;
  display: block;
  box-shadow: 5px 10px 20px #333;
}

.rotate90{
  top: 100px;
  height:450px;
  width: 450px;
}

/* This is the code for the image inside the about section */
.box-image{
  float: left;
  height: 99%;
  width: 30%;
  border-radius: 50%;
  background: url('images/me.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rotate90 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
/* This is the code for the text inside the about section */
.box-about{
  float: right;
  height: 99%;
  width: 65%;
}
/* Box about heading and paragraph font sizes */
.box-about h2{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 2em;
}
.box-about p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.5em;
}

/* This is the code for the Programming Languages Bar */
.prog-lang{
  grid-area: prog-lang;
  background-color: #d8d8d8;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 10px 20px black;
}

/* This code sets the size and animation for the Programming Box */
.prog-box1, .prog-box2, .prog-box3, .prog-box4, .prog-box5, .prog-box6{
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 9%;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 10;
}
/* This is the animation code */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/* The following code is to fill in the images inside the box as a background image */
.prog-box1{
  background: url('../images/html5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box2{
  background: url('../images/css.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box3{
  background: url('../images/javascript.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box4{
  background: url('../images/mysql.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box5{
  background: url('../images/python.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog-box6{
  background: url('../images/sass.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* This code is for the studies and hobbies section of the page (blue) */
.studies{
  margin-top: 350px;
  grid-area: studies;
  padding-top: 1000px;
  background-color: #18bbf7;
  height: 710px;
  box-shadow: 2px 2px 20px #18bbf7;
  border-radius: 10px;
}

#hob-section{
  margin-top: 20px;
  grid-area: studies;
  background-color: #18bbf7;
  font-size: 25px;
  height: 710px;
  box-shadow: 2px 2px 20px #18bbf7;
  border-radius: 10px;
}

/* This code sets the size of the boxes inside the studies main box */
.stu-box{
  float: left;
  width: 24.5%;
  margin-left: 5px;
}

/* This sets the font size and decoration of the headings */
.stu-box h3, .stu-box h4{
  font-size: 1.4em;
  text-decoration: underline;
  color: black;
}
.stu-box h4{
  font-size: 1.2em;
}

/* This code is for the contact section of the page */
.contact{
  grid-area: contact;
  background: linear-gradient(to right, #000000, #434343);
  height: 400px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 1%;
  box-shadow: 5px 5px 20px black;
}

/* This code is for the two boxes, References and Contact Details */
.contact-box1{
  height: 390px;
  width: 40%;
  color: white;
  float: left;
}
.contact-box2{
  float: right;
  height: 250px;
  width: 50%;
  color: white;
}

/* This is for the font sizes of the text in the boxes */
.contact-box1 h3, .contact-box2 h3{
  font-size: 1.5em;
}
.contact-box1 h4{
  font-size: 1.15em;
}

/* THIS IS THE CODE FOR THE PHONE NUMBER AND LOGO */
.phone-numbox{
  width: 28.5%;
  display: inline-block;
}
.phone-logo{
  float: left;
  width: 50px;
  height: 50px;
  background: url('../images/smartphone.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.p-number{
  color: #05aefc;
  float: right;
}

/* THIS IS THE CODE FOR THE email-logo AND LOGO */
.email-box{
  width: 60%;
  display: inline-block;
}
.email-logo{
  float: left;
  width: 50px;
  height: 50px;
  background: url('../images/envelope.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.email{
  color: #05aefc;
  float: right;
  margin-right: 70px;
}

/* This code is for the blog logo and text */
.blog-box{
  width: 60%;
  display: inline-block;
}
.blog-logo{
  float: left;
  width: 50px;
  height: 50px;
  background: url('../images/blogger.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog{
  color: #05aefc;
  width: 10%;
  float: left;
  margin-left: 25px;
}

/* This means that the colour of the link will always be #05aefc (blue) */
.blog a:link, .blog a:visited{
  color: #05aefc;
}
/* If you hover over the blog link, the text will underline */
.blog a:hover, .blog a:active{
  text-decoration: underline;
}

/* This is the code for the footer text and image logos */
.footer{
  grid-area: footer;
  border-radius: 10px;
  background: linear-gradient(to left, #000000, #434343);
  float: left;
  display: block;
}

/* Footer heading properties */
.footer h3{
  text-align: center;
  color: white;
  font-size: 1.5em;
}
/* This is the code for the links in the footer */
.footer a:link, .footer a:visited{
  color: white;
}
.footer h3 a:hover{
  color: #05aefc;
  text-decoration: underline;
}

/* If you hover over the logos in the footer, the animation will take effect */
img:hover{
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
